{% load static %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>A blog using Django</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/site.css' %}">
</head>
<body>
<nav>
    <div class="container">
        <a href="/">Home</a>
        {% if user.is_authenticated %}
         | <a href="{% url 'post_new' %}">New post</a>
        {% endif %}
    </div>
</nav>
<header class="page-header">
    <div class="container">
    <h1>A blog using Django</h1>
    </div>
</header>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>
    
<footer>
    <div class="container">
    </div>
</footer>

<script src="" async defer></script>
</body>
</html>