{% load static %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>A blog using Django</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>
<body>
<nav>
    <div class="container">
        <a href="/">Home</a>
    </div>
</nav>
<header>
    <div class="container">
    <h1>Hello world!</h1>
    </div>
</header>
<section>
    <div class="container">
        <p>Nice to see you here! :-)</p>
    </div>
</section>

    
<footer>
    <div class="container">
            Footer ...
    </div>
</footer>

<script src="" async defer></script>
</body>
</html>